name: Test with pip

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.12' ]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -V
        python -m pip install --upgrade pip
        pip install .
        pip install --group dev

    - name: Test with pytest
      run: |
        python -c "import audeer; assert not audeer.core.utils._is_uv()"
        python -m pytest --cov-config=.coveragerc.pip
